<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="header">
        <div class="heading">
            <h3> RS-MQF 1200 V.2</h3>
            <p>Free Responsive Template Freamework</p>
        </div>
    </div>
    <div class="nav">
        <ul class="list">
            <li><a href="#home"></a>Homepage</li>
            <li><a href="#Drop"></a>Drop </li>
            <li><a href="#home"></a>Styledemo </li>
            <li><a href="#home"></a>Fullwidth</li>
            <li><a href="#home"></a>Gallery</li>
            <li><a href="#home"></a>Portfolid</li>
            <li><a href="#home"></a>Alonglinktexthere</li>
            <li><a href="#home"></a>Drop</li>
        </ul>
    </div>
    <div class="continer">
        <div class="mt">
            <p> Half Column</p>
        </div>

        <div class="main">
            <div class="item1"> One Half</div>
            <div class="item2"> One Half</div>

        </div>


        <div class="mt">
            <p>Third Column
            <p>
        </div>
        <div class="main">
            <div class="item1"> One Half</div>
            <div class="item2"> One Half</div>
            <div class="item3"> One Half</div>
        </div>

        <div class="main">
            <div class="item4"> One Half</div>
            <div class="item5"> One Half</div>

        </div>

        <div class="main">
            <div class="item6"> One Half</div>
            <div class="item7"> One Half</div>
        </div>

        <div class="mt">
            <p>Quarter Columns
            <p>
        </div>
        <div class="main">
            <div class="num1"> One Quarter</div>
            <div class="num2"> One Quarter</div>
            <div class="num2"> One Quarter</div>
            <div class="num2"> One Quarter</div>

        </div>
        <div class="main">
            <div class="num1"> One Quarter</div>
            <div class="num2"> One Quarter</div>
            <div class="num3"> One Quarter</div>
        </div>

        <div class="main">
            <div class="num4"> One Quarter</div>
            <div class="num5"> One Quarter</div>
            <div class="num6"> One Quarter</div>
        </div>

        <div class="main">
            <div class="num7"> One Quarter</div>
            <div class="num8"> One Quarter</div>
            <div class="num9"> One Quarter</div>
        </div>

        <div class="main">
            <div class="numm1"> One Quarter</div>
            <div class="numm2"> One Quarter</div>
            
        </div>



        
        <div class="mt">
            <p>Fifth Columns
            <p>
        </div>
        <div class="main">
            <div class="num1"> One Fifth</div>
            <div class="num2"> One Fifth</div>
            <div class="num2"> One Fifth</div>
            <div class="num2"> One Fifth</div>
            <div class="num2"> One Fifth</div>

        </div>
        <div class="main">
            <div class="num1"> One Fifth</div>
            <div class="num2"> One Fifth</div>
            <div class="num3"> One Fifth</div>
            <div class="num2"> One Fifth</div>
        </div>

        <div class="main">
            <div class="num4"> One Fifth</div>
            <div class="num5"> One Fifth</div>
            <div class="num6"> One Fifth</div>
        </div>

        <div class="main">
            <div class="num7"> One Fifth</div>
            <div class="num8"> One Fifth</div>
            <div class="num9"> One Fifth</div>
        </div>

        <div class="main">
            <div class="numm1"> One Fifth</div>
            <div class="numm2"> One Fifth</div>
            
        </div>



        
        <div class="mt">
            <p>Sixth Columns
            <p>
        </div>
        <div class="main">
            <div class="num1"> One Sixth</div>
            <div class="num2"> One Sixth</div>
            <div class="num2"> One Sixth</div>
            <div class="num2"> One Sixth</div>
            <div class="num2"> One Sixth</div>
            <div class="num2"> One Sixth</div>

        </div>
        <div class="main">
            <div class="num1"> One Sixth</div>
            <div class="num2"> One Sixth</div>
            <div class="num3"> One Sixth</div>
        </div>

        <div class="main">
            <div class="num4"> One Sixth</div>
            <div class="num5"> One Sixth</div>
            <div class="num6"> One Sixth</div>
        </div>

        <div class="main">
            <div class="num7"> One Sixth</div>
            <div class="num8"> One Sixth</div>
            <div class="num9"> One Sixth</div>
        </div>

        <div class="main">
            <div class="numm1"> One Sixth</div>
            <div class="numm2"> One Sixth</div>
            
        </div>
    </div>
    <!-- https://gd-html-template-4.web.app/ -->

    <div class="footer">
        <p>Copyright 2018- All Right</p>
    </div>

</body>

</html>