body {
    font-family: 'Open Sans', sans-serif;
    background-color: #040404;
    color: #fff;
    position: relative;
    background: transparent;
}

body::before {
    content: "" ;
    position: fixed;
    background: #040404 url("image/IMG_7694.jpg")  top right no-repeat;
    clip-path: circle();
    left: 0;
    background-size: cover;
    right: 0;
    height: 50%;
    z-index: -1;
}